@model AthleteModel

<h2>Add an athlete</h2>

@using (Html.BeginForm("Create", "Athlete", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label
                </div>
            }